.loginBG {
  width: 100vw;
  height: 100vh;
}

/* #login-form {
  width: 100vw;
  height: 100vh;
} */

.login-panel {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  max-width: 30%;
  min-height: 70%;
  box-shadow: 0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 2.5% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.login-panel h1 {
  width: 100%;
}

form {
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.login-panel input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding-left: 5px;
}

.error-message {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 3%;
  padding-left: 5px;
  color: red;
}

.register-btn {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
}

.close-btn {
  display: flex;
  flex-direction: row-reverse;
  /* position: absolute; */
  margin: 10px;
  /* right: 0;
    top: 0; */
}

.hide {
  display: none;
}

.MuiInputBase-root {
  background-color: none;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  /* border: 2px solid black; */
  border-radius: 4px;
  padding: 0;
  border-color: #ffffff;
}

div.MuiFormControl-root {
  height: 5vh;
  margin: 2%;
}

.MuiInput-input {
  width: 100%;
}

.MuiInputBase-input {
  width: 100%;
}

.form-buttons-contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html {
  background: #32c5d2;

  background: linear-gradient(90deg, #32c5d2 0%, #48106a 100%);

  background: -moz-linear-gradient(90deg, #32c5d2 0%, #48106a 100%);

  background: -webkit-linear-gradient(90deg, #32c5d2 0%, #48106a 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 );
}

#login-form > div {
  width: 70%;
  color: #ffffff;
}

#login-form > div:nth-child(3) > div {
  padding: 0;
  color: #ffffff;
}

#login-form > div:nth-child(3) > div > div > button {
  padding: 0 1px 0 6px;
  color: #ffffff;
}

#login-form > div:nth-child(2) > div > input {
  color: #ffffff;
}

#login-form > div.form-buttons-contatiner > button {
  width: 100%;
  background: RGBA(255, 255, 255, 0.6);
  margin-top: 2%;
}

#login-form > div.form-buttons-contatiner > button:hover {
  background: RGBA(255, 255, 255, 1);
}

#root > div > div > div > div > form > div > div > input {
  color: #ffffff;
}

#root
  > div
  > div
  > div
  > form
  > div:nth-child(4)
  > div
  .MuiInputAdornment-root {
  padding-left: 5%;
}

@media only screen and (max-height: 550px) {
  div.MuiInputBase-root {
    height: 7vh;
  }
}
@media only screen and (max-width: 768px) {
  .login-panel {
    max-width: 40%;
  }
}

@media only screen and (max-width: 425px) {
  .login-panel {
    max-width: 80%;
    margin: 27% auto;
  }
}

@media only screen and (max-width: 400px) {
  .login-panel {
    max-width: 80%;
    margin: 27% auto;
  }
}

#root > div > div > div > form > div > button {
  width: 100%;
  background: RGBA(255, 255, 255, 0.6);
  margin-top: 2%;
}

#root > div > div > div > form > div > button:hover {
  background: RGBA(255, 255, 255, 1);
}

#root > div > div > div > form > div:nth-child(4) > div > div > button {
  padding: 0;
}

#root > div > div > div > form > div:nth-child(5) > div > div button {
  padding: 0;
}

#confirmpassword {
  width: 80%;
}

.sign-up:hover {
  cursor: pointer;
}

.sign-in:hover {
  cursor: pointer;
}

.js-focus-visible {
  background: #32c5d2;

  background: linear-gradient(90deg, #32c5d2 0%, #48106a 100%);

  background: -moz-linear-gradient(90deg, #32c5d2 0%, #48106a 100%);

  background: -webkit-linear-gradient(90deg, #32c5d2 0%, #48106a 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 );
}
