.loginBG {
  width: 100%;
  height: 100vh;
  /* grid-column: 1/2; */
  /* position: absolute; */

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.login-panel {
  background-color: var(--prim-color);
  max-width: 30%;
  min-height: 60%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 15vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.login-panel h1 {
  width: 100%;
}

form {
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.login-panel input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding-left: 5px;
}

.error-message {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 3%;
  padding-left: 5px;
  color: red;
}

.register-btn {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
}

.close-btn {
  display: flex;
  flex-direction: row-reverse;
  /* position: absolute; */
  margin: 10px;
  /* right: 0;
    top: 0; */
}

.hide {
  display: none;
}
