.dashboardLayout {
  grid-template-columns: 20% 80%;
  display: grid;
  background: #ffffff;
}

.cardForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
  margin-top: 2%;
  margin-left: 80%;
}

.margin {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.chart-grid {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  margin-left: 2%;
}

.chart {
  width: 45%;
  height: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 5px;
  margin: 1%;
}

.page-container {
  height: 100vh;
  margin: 0;
}

.header {
  height: 10%;
  width: 90%;
}

#root > div > div > div.page-container.height > div.chart-grid > div > canvas {
  width: 90%;
  height: 90%;
}

@media only screen and (max-width: 800px) {
  .chart {
    width: 65%;
    height: 65%;
    margin: 2% auto;
  }

  .dashboardLayout {
    display: flex;
  }
}
