.view-section {
  min-width: 40%;
  text-align: center;
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* .view-section h2 {
  margin: 0 0 15px 0;
  border-bottom: 1px groove black;
} */

.new-project-page {
  color: black;
}

.project-details-container {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.new-project-page h1 {
  min-width: 100%;
  height: 5%;
  padding: 3% 0%;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px groove white;
  margin: 0;
  color: #eeeeee;
}

.users-table-container {
  width: 87.5%;
  height: 50%;
  /* border: 5px solid #eeeeee; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 5px;
  margin: auto;
  color: black;
  /* padding: 2% 0%; */
}

.project-table-container {
  width: 87.5%;
  height: 50%;
  /* border: 5px solid #eeeeee; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 5px;
  margin: auto;
  color: black;

  /* padding: 2% 0%; */
}

.myBug {
  width: 100%;
  border: 5px solid #eeeeee;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.myBug p {
  width: 25%;
}

.page-item {
  display: inline-block;
  background-color: #eeeeee;
}

.page-item :active {
  background-color: #222831;
  color: #eeeeee;
  border: #eeeeee;
}

.add-user-btn {
  margin: 0;
  width: 50%;
}

.row p {
  margin: 0;
  padding: 0;
}

.row button {
  padding: 1%;
  font-size: 1rem;
}

.row :hover {
  transition: all 0.3s;
  background-color: #393e46;
}

td :hover {
  transition: all 0.3s;
  background-color: #393e46;
}

.user-table-title h2 {
  text-align: center;
  max-width: 80%;
  margin: 0 0 15px 5px;
  border-bottom: 1px groove black;
}

.users-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
}

.project-table-title {
  width: 50%;
  height: 100%;
}

.table {
  margin: 5% 0%;
  padding: 0%;
}

.myProjects-background {
  width: 78%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 21%;
  position: absolute;
}

.pagination {
  padding: 0;
  margin: 0;
}

.react-bootstrap-table {
  height: auto;
  margin: 0;
  width: 100%;
}

.header-button {
  margin: 1% 0% 0% 1%;
}

.project-name-column {
  width: 25%;
  text-align: left;
}
.project-name-header {
  text-align: left;
  width: 25%;
}

.description-column {
  width: 40%;
  text-align: left;
}

.description-header {
  text-align: left;
  padding-left: 2%;
  width: 65%;
}

.details-column {
  width: 30%;
}

.table {
  width: 100%;
}

.project-description-span {
  font-weight: 900;
  padding-right: 2.5%;
}

.project-description-p {
  font-size: 1.2rem;
}

.assign-personel-container {
  display: flex;
  flex-direction: row;
}

/* #assign-personel-title {
  width: 40%;
  margin-right: 2%;
} */

.assign-personel-add-btn {
  margin: auto;
  padding: 1%;
  height: 50%;
  width: 50%;
}

.assign-personel-add-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.details-list-container ul {
  margin: 0;
  padding: 0;
}

.details-list-container li {
  text-decoration: underline;
}

/* .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
}
.column {
  display: flex;
  flex-direction: column;
  width: 80%;
} */

.bug-view {
  position: fixed;
  top: 5%;
  left: 20%;
  overflow-y: scroll;
  height: 85vh;
}

#root > div > div > div.myProjects-background > div.header.effect9 {
  margin: 0 auto;
}

#root > div > div > div.myProjects-background > div.mybugs-container > div {
  color: black;
}

#root > div > div > div.myProjects-background {
  background: none;
}

#root > div > div > div.myProjects-background > div.mybugs-container > div {
  text-align: center;
}

#root
  > div
  > div
  > div.myProjects-background
  > div.mybugs-container
  > div
  > div.react-bootstrap-table
  > table
  > thead
  > tr
  > th {
  text-align: center;
  padding-bottom: 2%;
}

#root
  > div
  > div
  > div.myProjects-background
  > div.mybugs-container
  > div
  > div.react-bootstrap-table
  > table
  > tbody
  > tr
  > td
  > div
  > p {
  text-align: center;
}

.search-bar {
  width: 30%;
  margin: auto;
  height: 10%;
  text-align: center;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}

#root
  > div
  > div
  > div.myProjects-background
  > div.mybugs-container
  > div
  > div.react-bootstrap-table
  > table
  > tbody
  > tr {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  border-radius: 10px;
}

#root > div > div > div.myProjects-background > div.mybugs-container > button {
  background: black;
  color: #ffffff;
  margin-bottom: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#root > div > div > div.myProjects-background > div.mybugs-container {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #root > div > div > div.myProjects-background {
    width: 100%;
    margin: 0;
  }

  .header {
    display: block;
    width: 97%;
    margin: 0;
  }
  table {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 699px) {
  table {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 530px) {
  .search-bar {
    width: 50%;
  }

  .hide-column {
    display: none;
  }
  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > tbody
    > tr
    > td.description-column {
    width: 50%;
    margin-left: 2%;
  }

  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > thead
    > tr
    > th.sortable.description-header {
    width: 50%;
  }

  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > tbody
    > tr
    > td:nth-child(3)
    > div {
    width: 30%;
  }

  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > tbody
    > tr
    > td.project-name-column {
    width: 30%;
  }

  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > thead
    > tr
    > th.sortable.project-name-header {
    width: 30%;
  }

  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > tbody
    > tr
    > td:nth-child(3)
    > div {
    width: 70%;
  }
  #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > tbody
    > tr
    > td:nth-child(3)
    > div
    > ul {
    list-style: none;
  }

  /* #root
    > div
    > div
    > div.myProjects-background
    > div.mybugs-container
    > div
    > div.react-bootstrap-table
    > table
    > tbody
    > tr {
    padding: 3%;
  } */
}
