.modal-dialog {
  position: fixed;
  z-index: 9999;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 35%;
  text-align: center;
  background-color: #222831;
  border: solid 5px #008bb5;
}
/* .modal-content {
  display: flex;
  align-items: center;
} */

.close-container {
  display: flex;
  flex-direction: row-reverse;
  /* margin: 10px; */
}

.modal-header {
  margin: 15px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.close {
  margin: 10px;
}

.modal-body {
  margin: 15px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.modal-footer {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  padding: 5px 30px;
}

.main-content-container {
  margin: auto;
}
