.modal-dialog {
  position: fixed;
  z-index: 9999;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 35%;
  text-align: center;
  background-color: black;
  border: solid 5px #32c5d2;
}
/* .modal-content {
  display: flex;
  align-items: center;
} */

.close-container {
  display: flex;
  flex-direction: row-reverse;
  /* margin: 10px; */
}

.modal-header {
  margin: 15px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.close {
  margin: 10px;
  border: solid 2px #ffffff;
}

.modal-body {
  margin: 15px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.modal-footer {
  width: 50%;
  margin: auto;
  display: flex;
}

.btn-primary {
  width: 50%;
  padding: 5px 30px;
  border: solid 2px #ffffff;
}

.main-content-container {
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .modal-dialog {
    position: fixed;
    z-index: 9999;
    height: 70%;
    width: 70%;
    left: 15%;
    top: 20%;
  }

  .modal-footer {
    width: 70%;
  }
}
@media only screen and (max-width: 475px) {
  .modal-footer {
    width: 90%;
  }
}
