.edit-panel {
  /* position: absolute; */
  left: 0;
  top: 0;
  margin: 10px;
  border-bottom: 2px solid #ffffff;
}

.link {
  color: white;
}
.link:link {
  text-decoration: none;
  color: white;
}

.edit {
  padding: 5px 30px;
}
button {
  background: none;
  margin: 0;
  border: none;
}

button:hover {
  background: #ffffff;
  color: black;
}
