span {
  font-weight: 800;
}

p {
  padding-left: 10px;
}

.header-container {
  width: 100%;
  height: 100%;
  margin-top: 1.5%;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.3vw;
}

.username {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.profile {
  justify-content: flex-end;
  padding-right: 15px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profile-container-text {
  margin-right: 5px;
}

.large-screen-header {
  display: none;
}

#root
  > div
  > div
  > div.page-container.height
  > div.header.effect9
  > div.large-screen-header.shadow
  > div
  > button {
  width: 100%;
  height: 100%;
}

.fa-lg {
  display: none;
}

.fa-2x {
  display: block;
}

@media only screen and (max-width: 800px) {
  .header-container {
    /* font-size: 1.6vw; */
    display: none;
  }

  .large-screen-header {
    width: 100%;
    height: 100%;
    margin-top: 1.5%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.3vw;
  }

  .large-screen-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
  }

  .large-screen-username {
    text-align: center;
    width: 60%;
  }
}

@media only screen and (max-width: 530px) {
  .large-screen-container {
    font-size: 2.8em;
  }

  .fa-2x {
    display: none;
  }

  .fa-lg {
    display: block;
  }
}
