.viewBugLayout {
  grid-template-columns: 20% 80%;
  display: grid;
  background: #ffffff;
}

.background {
  background: #ffffff;
}

.header {
  margin: 0;
}

/* td {
  padding: 0 !important;
  margin: -8 !important;
}

tr {
  padding: -9 !important;
  margin: -8 !important;
} */

table {
  border-collapse: separate;
  border-spacing: 0 1px;
  color: black;
  text-align: center;
}

/* td {
  border-top: solid 1px rgba(255, 0, 0, 1);
  border-bottom: solid 1px rgba(255, 0, 0, 1);
} */

.high td {
  background-color: rgba(255, 0, 0, 0.5);
  border-top: solid 1px rgba(255, 0, 0, 1);
  border-bottom: solid 1px rgba(255, 0, 0, 1);
  color: black;
}
.medium td {
  background-color: rgba(226, 226, 7, 0.5);
  border-top: solid 1px rgba(226, 226, 7, 1);
  border-bottom: solid 1px rgba(226, 226, 7, 1);
  color: black;
}
.low td {
  background-color: rgba(0, 255, 0, 0.5);
  border-top: solid 1px rgba(0, 255, 0, 1);
  border-bottom: solid 1px rgba(0, 255, 0, 1);
  color: black;
}

.high {
  box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}

.medium {
  box-shadow: 0 0 10px rgba(226, 226, 7, 1);
}

.low {
  box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}

.search-bar {
  width: 30%;
  margin-left: 33%;
  height: 10%;
  text-align: center;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}
.search-bar:focus {
  text-align: left;
}

#root > div > div > div.page-container > div.myBugs-table {
  padding-top: 0;
}

/* .header {
  display: none;
} */

@media only screen and (max-width: 800px) {
  .viewBugLayout {
    display: flex;
  }

  .header {
    display: block;
    width: 97%;
    margin: 0;
  }
}

@media only screen and (max-width: 530px) {
  .search-bar {
    width: 50%;
    margin-left: 26%;
  }
}
