.viewBugLayout {
  grid-template-columns: 20% 80%;
  display: grid;
  background: #ffffff;
}

.background {
  background: #ffffff;
}

.header {
  margin: 0;
}

#root > div > div > div.page-container > div.header.effect9 {
  margin: 0;
}

/* td {
  padding: 0 !important;
  margin: -8 !important;
}

tr {
  padding: -9 !important;
  margin: -8 !important;
} */

table {
  border-collapse: separate;
  border-spacing: 0 1px;
  color: black;
  text-align: center;
  font-size: 1em;
}

#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.react-bootstrap-table
  > table
  > tbody
  > tr
  > td
  > p:hover {
  background: none;
}

#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.react-bootstrap-table
  > table
  > tbody
  > tr
  > td:nth-child(6)
  > p {
  cursor: pointer;
}

#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div:nth-child(1) {
  display: none;
}

/* td {
  border-top: solid 1px rgba(255, 0, 0, 1);
  border-bottom: solid 1px rgba(255, 0, 0, 1);
} */

.high td {
  background-color: rgba(255, 0, 0, 0.5);
  border-top: solid 1px rgba(255, 0, 0, 1);
  border-bottom: solid 1px rgba(255, 0, 0, 1);
  color: black;
}
.medium td {
  background-color: rgba(226, 226, 7, 0.5);
  border-top: solid 1px rgba(226, 226, 7, 1);
  border-bottom: solid 1px rgba(226, 226, 7, 1);
  color: black;
}
.low td {
  background-color: rgba(0, 255, 0, 0.5);
  border-top: solid 1px rgba(0, 255, 0, 1);
  border-bottom: solid 1px rgba(0, 255, 0, 1);
  color: black;
}

.high {
  box-shadow: 0 0 10px rgba(255, 0, 0, 1);
}

.medium {
  box-shadow: 0 0 10px rgba(226, 226, 7, 1);
}

.low {
  box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}

.search-bar-view {
  min-width: 30%;
  /* margin-bottom: 2%; */
  min-height: 80%;
  text-align: center;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}

.search-bar-view:focus {
  text-align: left;
}

.search-bar-viewtickets {
  height: 7%;
  margin-bottom: 10%;
}

.myBugs-table {
  height: 80%;
}

#root > div > div > div.page-container > div.myBugs-table {
  padding-top: 0;
  text-align: center;
}

#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div.react-bootstrap-table-pagination-list.col-md-6.col-xs-6.col-sm-6.col-lg-6
  > ul {
  width: 100%;
}
#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div.react-bootstrap-table-pagination-list.col-md-6.col-xs-6.col-sm-6.col-lg-6
  > ul:hover {
  background: none;
}

#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div.react-bootstrap-table-pagination-list.col-md-6.col-xs-6.col-sm-6.col-lg-6
  > ul
  > li {
  background-color: black;
}
#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div.react-bootstrap-table-pagination-list.col-md-6.col-xs-6.col-sm-6.col-lg-6
  > ul
  > li:hover {
  background-color: #ffffff;
  border: 2px solid black;
}

#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div.react-bootstrap-table-pagination-list.col-md-6.col-xs-6.col-sm-6.col-lg-6
  > ul
  > li
  > a {
  color: #ffffff;
}
#root
  > div
  > div
  > div.page-container
  > div.myBugs-table
  > div.row.react-bootstrap-table-pagination
  > div.react-bootstrap-table-pagination-list.col-md-6.col-xs-6.col-sm-6.col-lg-6
  > ul
  > li
  > a:hover {
  color: black;
  background-color: #ffffff;
}

/* .header {
  display: none;
} */

@media only screen and (max-width: 800px) {
  .viewBugLayout {
    display: flex;
  }

  .header {
    display: block;
    width: 97%;
    margin: 0;
  }
  table {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 699px) {
  table {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 530px) {
  .search-bar {
    width: 50%;
    margin-left: 26%;
  }

  .hide-column {
    display: none;
  }
}
