#root {
  --prim-color: #222831;
  color: white;
  margin: -8px;
  --card-color: #eeeeee;
  overflow: hidden;
  font-family: "Roboto";
  /* background: linear-gradient(-45deg, #eeeeee, #00adb5, #393e46, #222831);
  background-size: 100% 100%;
  animation: gradient 15s ease infinite; */

  background: hsla(194, 100%, 35%, 1);

  background: linear-gradient(
    90deg,
    hsla(194, 100%, 35%, 1) 0%,
    hsla(217, 10%, 25%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(194, 100%, 35%, 1) 0%,
    hsla(217, 10%, 25%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(194, 100%, 35%, 1) 0%,
    hsla(217, 10%, 25%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#008BB5", endColorstr="#393E46", GradientType=1 );
}

::-webkit-scrollbar {
  display: none;
}

button {
  background: #00adb5;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font: normal bold 18px "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

button:hover {
  transition: all 0.3s;
  background: #008bb5;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
  overflow: auto;
  overflow-y: scroll;
  background-color: #ffffff;

  /* margin-top: 2%; */
}
