#root {
  --prim-color: #222831;
  color: white;
  margin: -8px;
  --card-color: #eeeeee;
  overflow: hidden;
  font-family: "Roboto";
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.js-focus-visible {
  background: hsla(185, 64%, 51%, 1);

  background: linear-gradient(
    90deg,
    hsla(185, 64%, 51%, 1) 0%,
    hsla(277, 74%, 24%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(185, 64%, 51%, 1) 0%,
    hsla(277, 74%, 24%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(185, 64%, 51%, 1) 0%,
    hsla(277, 74%, 24%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#30C5D2", endColorstr="#471069", GradientType=1 );
}

button {
  background: #00adb5;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font: normal bold 18px "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

button:hover {
  transition: all 0.3s;
  background: #008bb5;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
  overflow: auto;
  overflow-y: scroll;
  background-color: #ffffff;

  /* margin-top: 2%; */
}
